<p style="font-size: 1.3em; line-height: 1.35em;">
<i>寫給有血有肉的人類的 AI 安全指南</i> 由
<a href="https://ncase.me/">Nicky Case</a>
與
<a href="https://hackclub.com/">Hack Club</a>
協力完成，正體中文版由 Audrey Tang 與 Tenzin Yangtso 翻譯。
</p>

<p>
🦕 <a href="https://ncase.me"><b>Hack Club</b></a>
是一個非營利組織，讓青少年一起寫出超酷的專案——
像是 <a href="https://cpu.land">cpu.land</a>、
<a href="https://sinerider.com">SineRider</a>，
還有你現在讀的這個！
來參加
<a href="https://hackathons.hackclub.com">實體黑客松</a>、
在學校
<a href="https://hackclub.com/clubs/">開一個社團</a>，
或
<a href="https://hackclub.com/slack/">跟其他友善的青少年串連</a>。
</p>

<p>
😻 <a href="https://ncase.me"><b>Nicky Case</b></a>
是十五隻貓披著一件風衣。
她做網路上的互動小玩物，例如
<a href="https://audreyt.github.io/trust-zh-TW/">《信任的演化》</a>、
<a href="https://audreyt.github.io/anxiety/">《和焦慮一起冒險》</a>、
<a href="https://explorabl.es/">Explorable Explanations</a>，以及更多。
</p>

<p>
💸 如果你<i>不是</i>青少年，而是 AI 圈口袋很深的金主，
<a href="https://hackclub.com/philanthropy/">看看怎麼支持 Hack Club！</a>
另外 Nicky 也有
<a href="https://www.patreon.com/ncase">Patreon</a>
與
<a href="https://ko-fi.com/nickycase">Ko-Fi</a>。
（p.s.：
<a href="{{root}}signup/supporters-p2.html">給贊助者的感謝頁在這！</a>）
</p>

<p style="text-align:center">
. . .
</p>

<p>
特別感謝 Hack Club 這些青少年
<s>免費童工</s>
試讀本篇並給回饋：
</p>

<blockquote>

<p>
<b>導讀與第一章：</b>
Arthur Beck、
Atharv Gupta、
Brendan Lee、
Celeste、
Charalampos Fanoulis、
Charlie、
Cheru Berhanu、
Claire Wang、
Elijah、
Fred Han、
Gia Bách Nguyễn、
Hajrah Siddiqui、
Jakob、
Joseph Ross、
Kieran Klukas、
Lexi Mattick、
Mason Meirs、
Michael Panait、
Nick Zandbergen、
Nila Palmo Ram、
Pixelglide、
py660、
rivques、
Samuel Cottrell、
Samuel Fernandez、
Saran Wagner、
Skyler Grey、
S&nbsp;P&nbsp;U&nbsp;N&nbsp;G&nbsp;E、
Vihaan Sondhi
</p>

<p>
<b>第二章：</b>
Nanda White、
Nila Palmo Ram、
rivques、
Rohan K、
Samuel Fernandez
</p>

</blockquote>

<p>
也謝謝這些「非青少年」的回饋：
（不過我猜他們人生的<i>某個</i>階段也當過青少年）
</p>

<blockquote>
<p>
<b>導讀與第一章：</b>
Alex Kreitzberg、
B Cavello、
Paul Dancstep、
Tobias Rose-Stockwell
</p>

<p>
<b>第二章：</b>
Egg Syntax、
Max Wofford、
Mithuna Yoganathan、
Tobias Rose-Stockwell
</p>

</blockquote>

<p>
若還有任何錯誤，全算在
<a href="{{root}}suzie.png">替罪羊 Suzie</a>
頭上。
</p>

<p style="text-align:center">
. . .
</p>

<p>
<i>寫給有血有肉的人類的 AI 安全指南</i> 歡迎任何人分享與改作，
只要是非商業用途（例如教育）即可：
<a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en">CC BY-NC 4.0</a>
</p>

<p>
如果你想引用這份作品，而且你自認是個嚴肅人士™，請用這個格式：
</p>

<blockquote>
Nicky Case，<i>《AI Safety for Fleshy Humans》</i>，<br>
https://AIsafety.dance，Hack Club（2024）。
</blockquote>

<p>
最後，這個網站的
<a href="https://github.com/audreyt/ai-safety-dance">開源程式碼</a>
在這裡！
</p>

<p>
謝謝你是會把致謝讀完的那種人～ 🙏
</p>
