<p style="font-size: 1.3em; line-height: 1.35em;">
<i>給血肉凡人的 AI 安全課</i> 由
<a href="https://ncase.me/">Nicky Case</a>
與
<a href="https://hackclub.com/">Hack Club</a>
合作製作。
</p>

<p>
🦕 <a href="https://ncase.me"><b>Hack Club</b></a>
是一個讓青少年一起動手做酷炫專案的非營利組織——
像是 <a href="https://cpu.land">cpu.land</a>、
<a href="https://sinerider.com">SineRider</a>，
以及這個！
歡迎參加
<a href="https://hackathons.hackclub.com">實體黑客松</a>，
在你的學校
<a href="https://hackclub.com/clubs/">成立社團</a>，
並
<a href="https://hackclub.com/slack/">和其他友善的青少年連結</a>。
</p>

<p>
😻 <a href="https://ncase.me"><b>Nicky Case</b></a>
其實是一件風衣裡的十五隻貓。
她做網路上的互動玩物，例如
<a href="https://audreyt.github.io/trust-zh-TW/">《信任的演化》</a>、
<a href="https://audreyt.github.io/anxiety/">《和焦慮一起冒險》</a>、
<a href="https://explorabl.es/">可探索解說</a>，以及更多。
</p>

<p>
💸 如果你<i>不是</i>青少年，而且是個在 AI 領域口袋很深的人，
<a href="https://hackclub.com/philanthropy/">看看如何支持 Hack Club！</a>
另外，Nicky 也有
<a href="https://www.patreon.com/ncase">Patreon</a>
與
<a href="https://ko-fi.com/nickycase">Ko‑Fi</a>。
（p.s：
<a href="{{root}}signup/supporters-p2.html">這是我的贊助者感謝頁！</a>）
</p>

<p style="text-align:center">
. . .
</p>

<p>
特別感謝 Hack Club 的這些青少年，<s>擔任免費童工</s>
協助試讀並對本作品提供回饋：
</p>

<blockquote>

<p>
<b>導言與第 1 部分：</b>
Arthur Beck、
Atharv Gupta、
Brendan Lee、
Celeste、
Charalampos Fanoulis、
Charlie、
Cheru Berhanu、
Claire Wang、
Elijah、
Fred Han、
Gia Bách Nguyễn、
Hajrah Siddiqui、
Jakob、
Joseph Ross、
Kieran Klukas、
Lexi Mattick、
Mason Meirs、
Michael Panait、
Nick Zandbergen、
Nila Palmo Ram、
Pixelglide、
py660、
rivques、
Samuel Cottrell、
Samuel Fernandez、
Saran Wagner、
Skyler Grey、
S&nbsp;P&nbsp;U&nbsp;N&nbsp;G&nbsp;E、
Vihaan Sondhi
</p>

<p>
<b>第 2 部分：</b>
Nanda White、
Nila Palmo Ram、
rivques、
Rohan K、
Samuel Fernandez
</p>

</blockquote>

<p>
也感謝以下非青少年提供回饋：
（雖然我猜他們在人生的<i>某個</i>時期也當過青少年）
</p>

<blockquote>
<p>
<b>導言與第 1 部分：</b>
Alex Kreitzberg、
B Cavello、
Paul Dancstep、
Tobias Rose-Stockwell
</p>

<p>
<b>第 2 部分：</b>
Egg Syntax、
Max Wofford、
Mithuna Yoganathan、
Tobias Rose-Stockwell
</p>

</blockquote>

<p>
若還有任何錯誤，一律算在
<a href="{{root}}suzie.png">替罪羊 Suzie</a>
頭上。
</p>

<p style="text-align:center">
. . .
</p>

<p>
<i>給肉身人類的 AI 安全</i> 開放任何人分享與混搭，
但僅限非商業使用（例如教育）：
<a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en">CC BY‑NC 4.0</a>
</p>

<p>
如果你想引用這份作品，而且你自認是個嚴肅人士™，引用格式如下：
</p>

<blockquote>
Nicky Case，<i>《AI Safety for Fleshy Humans》</i>，<br>
https://AIsafety.dance，Hack Club（2024）。
</blockquote>

<p>
最後，這個網站的
<a href="https://github.com/audreyt/ai-safety-dance">開源程式碼</a>
在這裡！
</p>

<p>
謝謝你是會把致謝讀完的那種人～ 🙏
</p>
