<!DOCTYPE html>
<html lang="zh-TW" dir="ltr">
<head>

    <!-- Title -->
    <title>{{ title }}</title>

    <!-- UTF-8 & Mobile -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Links are external by default -->
    <base target="_blank">

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="favicon.png">

    <!-- Social Share Nonsense -->
	<meta itemprop="name" content="{{ title }}">
	<meta itemprop="description" content="{{ share_desc }}">
	<meta itemprop="image" content="{{ share_image }}">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ share_image }}">
	<meta property="og:description" content="{{ share_desc }}">
    <meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ share_desc }}">
	<meta name="twitter:image" content="{{ share_image }}">

	<!-- STYLES -->
	<link rel="stylesheet" href="{{root}}styles/Merriweather/merriweather.css">
    <link rel="stylesheet" href="{{root}}styles/Open_Sans/opensans.css">
    <link rel="stylesheet" href="{{root}}styles/littlefoot.css"/> <!-- before page.css, so page can override it -->
	<link rel="stylesheet" href="{{root}}styles/page.css">

	<!-- SCRIPTS -->
    <!-- Littlefoot: for my feetnotes -->
    <script src="{{root}}scripts/littlefoot.js" ></script>
    <!-- Nutshell: expandable explanations -->
    <script src="{{root}}scripts/nutshell-v1.0.5.js"></script>
    <script> Nutshell.setOptions({ startOnLoad: false, /* Start AFTER footnotes loaded */ }); </script>
    <!-- MathJAX: for nice math -->
    {% if isPartThree %}
    <script>
    window.MathJax = {
        tex: {
            inlineMath: [['\\(', '\\)'], ['$', '$']],
            displayMath: [['\\[', '\\]'], ['$$', '$$']],
            processEscapes: true
        }
    };
    </script>
    {% endif %}
    <script src="{{root}}scripts/tex-mml-chtml.js"></script>
	<!-- This website's own scripts -->
    <script src="{{root}}scripts/page.js"></script>
    <!-- Plausible: no cookies, no personal data, GDPR-compliant -->
    <script defer data-domain="{{ site_host }}" src="https://plausible.io/js/script.js"></script>

</head>
<body>

<!-- HACKBRAND -->
<a class="orpheus-flag" target="_blank" href="https://hackclub.com/">
	<img src="{{root}}styles/orpheus-flag.svg" width="560" height="315" alt="A project by Hack Club" aria-label="A project by Hack Club">
</a>

<!-- The Sidebar UI -->
<div id="return_to_content"></div>
<div id="sidebar">
	<div id="panel_toc"></div>

    <!-- STYLE CHANGER -->
	<div id="panel_style">

        <div id="style_dark_mode_container" style="cursor:pointer;">
            <input type="checkbox" id="style_dark_mode" style="pointer-events: none;">
            深色模式
        </div>
        <br>

        字體大小：
        <span id="style_fontsize"></span>
        <br>
        <input type="range" id="style_fontsize_slider" min="10" value="19" max="40">
        <br>

        字體類型：
        <br>
        <label>
            <input type="radio" name="style_font_family" value="serif" checked>
            <span style="font-family:'Merriweather'">襯線體</span>
        </label>
        <br>
        <label>
            <input type="radio" name="style_font_family" value="sans_serif">
            <span style="font-family:'Open Sans'">無襯線體</span>
        </label>
        <br><br>

        <button id="style_reset">重設</button>

    </div>

    <!-- TRANSLATIONS -->
	<div id="panel_translations">
        <!-- none... sorry -->
    </div>
	<div id="panel_share">share on... w/e</div>
    <!-- SHILLING FOR BIG NICKY -->
	<div id="panel_sub">
    </div>
    <div id="panel_support"></div>

</div>

<!-- Reading Time Clock! -->
<div id="reading_time">
	<div id="clock_icon"></div>
	<div id="clock_label"></div>
</div>

<!-- EVERYTHING TO THE LEFT of the sidebar... -->
<div id="everything_container">

    <!-- A big cute header -->
    <div id="header" class="{{ 'frontpage' if isFrontpage else 'chapter' }}">
        <div id="splash_image">

            {% if isPartOne %}
            <img id="p1-cat" src="../media/p1/P1Cat.png"/>
            {% endif %}
            {% if isPartTwo %}
            <img id="p2-banner" src="../media/p2/P2Cat.png"/>
            {% endif %}
            {% if isPartThree %}
            <img id="p3-banner" src="../media/p3/P3Cat.png"/>
            {% endif %}

            <div id="crt_lines"></div>
            <div id="static"></div>

            {% if isFrontpage %}
            <img id="dancing" width="400" src="media/splash/noone.png"/>
            {% endif %}

        </div>
        {% if isFrontpage %}

            <div id="header_words">
                <div id="title">
                    寫給有血有肉的人類的 AI 安全指南
                </div>
                <div id="subtitle">
                    作者：
                    <a href="https://ncase.me">Nicky Case</a>
                    &amp;
                    <a href="https://hackclub.com/">Hack Club</a>
                </div>
            </div>

        {% elif isPartOne %}

            <div id="header_words">
                <div id="title">
                    第一章
                </div>
                <div id="subtitle">
                    過去、現在與可能的未來
                </div>
            </div>

        {% elif isPartTwo %}

        <div id="header_words">
            <div id="title">
                第二章
            </div>
            <div id="subtitle">
                問題
            </div>
        </div>

        {% elif isPartThree %}

        <div id="header_words">
            <div id="title">
                第三章
            </div>
            <div id="subtitle">
                可能的解決方案
            </div>
        </div>

        {% endif %}
	</div>

    <!-- Chapter Navigation -->
    <div id="chapter_nav">
        <div id="chapter_nav_centered">
            <a target="_self" href="{{root}}"
                class="live">
                <div {{ 'selected' if isFrontpage }}>
                    <span class='chapter-nav-desktop'>
                        導讀
                    </span>
                    <span class='chapter-nav-phone'>
                        導讀
                    </span>
                </div>
            </a>
            <a target="_self" href="{{root}}p1"
                class="live">
                <div {{ 'selected' if isPartOne }} >
                    <span class='chapter-nav-desktop'>
                        第一章<br>過去與未來
                    </span>
                    <span class='chapter-nav-phone'>
                        第一章
                    </span>
                </div>
            </a>
            <a target="_self" href="{{root}}p2"
                class="live">
                <div {{ 'selected' if isPartTwo }} >
                    <span class='chapter-nav-desktop'>
                        第二章<br>問題
                    </span>
                    <span class='chapter-nav-phone'>
                        第二章
                    </span>
                </div>
            </a>
            <a target="_self" href="{{root}}p3"
                class="live">
                <div {{ 'selected' if isPartThree }} >
                    <span class='chapter-nav-desktop'>
                        第三章<br>解決方案？
                    </span>
                    <span class='chapter-nav-phone'>
                        第三章
                    </span>
                </div>
            </a>
            <a target="_self" href="{{root}}conclusion"
                class="live">
                <div style="border-right:1px solid rgba(128,128,128,0.8);">
                    <span class='chapter-nav-desktop'>
                        結語
                    </span>
                    <span class='chapter-nav-phone'>
                        結語
                    </span>
                </div>
            </a>
        </div>
    </div>

    <!-- The lil' tabs for sidebar UI -->
    <div id="sidebar_tabs">
		<div id="tab_toc">
			<div></div>
			目錄
		</div>
		<div id="tab_style">
			<div></div>
			設定樣式 😎
		</div>
        <!--
		<div id="tab_sub">
            CREDITS & Signup for notifications
			<div></div>
			訂閱 💖
		</div>
        -->
	</div>

    <!-- BEHOLD! CONTENT!!!!! -->
	<article id="content">
{{content}}
	</article>

    <!-- FOOTER -->
    {% if not isPartThree %}
	<div id="footer">
        <div id="footer_content">
{% include 'templates/footer.html' %}
        </div>
	</div>
    {% endif %}
    <div id="post_credits">
        {% if not isPartThree %}
        <p>
            哇，這是片尾彩蛋：
        </p>
        {% endif %}
<p>
    <a href="#AllFeetnotes">: 查看所有註腳 👣</a>
</p>
<p>
    還有，可展開的「果核」小知識：
</p>
{% if isFrontpage %}
<p>
    <a href="#SpacedRepetition">: 什麼是間隔重複？</a>
    <br>
    <a href="#ConcreteRogueAI">: AI「逃離控制」並影響世界的具體方式</a>
</p>
<p>
    另外，跳舞的機器人貓男動畫是基於<a href="https://www.youtube.com/watch?v=yD2FSwTy2lw">這個 JerryTerry 影片</a>。
</p>
{% elif isPartOne %}
<p>
    <a href="#CapabilitiesNotIntelligence">: 為什麼說「能力」而不是「智慧」</a>
    <br>
    <a href="#WhatsXOR">: 什麼是 XOR？</a>
    <br>
    <a href="#SadAIHistory">: 人工神經網路背後的悲傷故事</a>
    <br>
    <a href="#OneIsTwo">: 如果系統二推理<i>其實就是</i>一堆系統一反射呢？</a>
    <br>
    <a href="#AIOrganizations">: 一份不嚴謹、非專業的 AI/安全領域人物名錄</a>
</p>
{% elif isPartTwo %}
<p>
    <a href="#StoryOfPassivePrediction">: 一個關於被動預測如何導致不良後果的故事</a>
    <br>
    <a href="#SpuriousCorrelation">: 「虛假相關」如何欺騙 AI</a>
    <br>
    <a href="#OntologicalCrisis">: AI 中的「本體論危機」是什麼？</a>
    <br>
    <a href="#Pipocalypse">: 圓周率末日故事</a>
    <br>
    <a href="#WhatIfGoalMisgeneralizationIsGood">: 如果目標錯誤泛化其實是⋯⋯好事呢？</a>
    <br>
    <a href="#TradingWithAdvancedAIs">: 人類能與超人類 AI 進行交易嗎？</a>
    <br>
    <a href="#Axiom">: 什麼是「公理」？</a>
</p>
{% elif isPartThree %}
<p>
    <a href="#SwissCheese">: 更多關於瑞士乳酪模型</a>
    <br>
    <a href="#RobustChainMath">: 穩健可擴展監督的數學</a>
    <br>
    <a href="#ScalableOversightExtras">: 可擴展監督，額外說明</a>
    <br>
    <a href="#IDA">: 迭代蒸餾與放大，解釋</a>
    <br>
    <a href="#CriticalMassComic">: （刪除場景）「臨界質量」漫畫</a>
    <br>
    <a href="#FutureLivesFixes">: 「未來生命」演算法的修正</a>
    <br>
    <a href="#AISelfMod">: 「自我修改代理」的非正式文獻回顧</a>
    <br>
    <a href="#WorstOrAverage">: 最壞/平均/最好情況最佳化的優缺點</a>
    <br>
    <a href="#LearnValuesExtraNotes">: 學習價值觀，額外說明</a>
    <br>
    <a href="#EconomicsAI">: AI 的經濟學</a>
    <br>
    <a href="#HumanLLMAdvantages">: 人類相對於大型語言模型的優勢</a>
</p>
{% endif %}
    </div>

</div>
</body>
</html>

<!-- Load these scripts last. Screw 'em. -->
<!-- Orbit: make memory a choice -->
<script type="module" src="https://js.withorbit.com/orbit-web-component.js"></script>
